.nav-list {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f8077f;
    position: relative;
}


.nav-item {
    float: left;
}

.nav-item a {
    display: block;
    color: rgb(8, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item a:hover {
    background-color: #ffffff;
}

.widget-container {
    position: absolute;
    right: 40px;
    top: 6px;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: row;
}